<h1>Hangman</h1>

<form action="/hangman" method="post">
  <label for="guess">Guess a letter</label>
  <input type="text" name="guess">
  <button type="submit">Guess</button>
</form>
<h3><a href="/"></a></h3>
